@import "variables";
.bg-card-title {
    background: lighten($primary, 15%);
}
h1, h2, h3 {
    color: white !important;
}
.bg-countdown-draft{
    background: url("/../storage/images/Fond_tutos.jpg") center no-repeat;
    width: 100%;
    background-size: cover;
}
#draft-container{
    $halfHeight: 0.72em;
    $borderRadius: 0.15em;
    .dropdown-toggle:hover, #btn-allPlayers:hover  {
        color: $quaternary !important;
    }
    #playersToDraft {
        max-height: 50px !important;
    }

    .cardcountdown {
        display: block;
        position: relative;
        padding-bottom: $halfHeight;
        font-size: 20px;
        line-height: 0.95;
    }
    .flip-clock__slot {
        font-size: 0.7rem !important;
    }
    .flip-clock__piece {
        margin: 0 2px !important;
    }
    #nb-players {
        font-size: 2rem !important;
    }
    .table-dark{
        background-color : $bg-card !important;
        thead th {
            border: none !important;
        }
        th {
            border-top: none !important;
        }
         td {
            border-top: none !important;
         }
    }
    #auctionValue {
        max-width: 70px !important;
    }
    .MS5card {
        border-color: rgba(255, 255, 255, 0.10);
    }
    .btn-quaternary {
        background-color: darken($quaternary, 10%);
        color: white;
        &:hover {
            background-color: $quaternary;
        }
    }
    .auction-price {
        font-size: 1.2rem;
    }
}

@media only screen and (max-device-width: 1024px) {
    #stat-none {
        display: none;
    }
}
