// Body
$body-bg: #2b2236;

// Typography
$p-font-family-sans-serif: 'Poppins', sans-serif;
$title-font-family-sans-serif: url('/public/storage/fonts/Mudhead_Serif/Mudhead-Serif.otf'), sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #2b2236;
$secondary: #7c38bf;
$tertiary: #ff8500;
$quaternary: #eb671b;

