footer{
    background: $secondary;
}

.logo-footer{
    width: 200px
}

// Spacialisation
.pb-reset{
    padding-bottom: 186px;
}

.pb-email{
    padding-bottom: 293px;
}

.pb-connexion{
    padding-bottom: 6.1rem;
}

.pb-league{
    padding-bottom: 7.6rem;
}
