#card_create_league {
    background: url("/../storage/images/leagues_portal/image_creer_league.jpg");
    background-size: contain;
}

#card_private_league {
    background: url("/../storage/images/leagues_portal/image_league_privee.jpg");
    background-size: contain;
}

#card_public_league {
    background: url("/../storage/images/leagues_portal/image_league_publique.jpg");
    background-size: contain;
}
