@import "variables";

@mixin card(){
    background: $bg-card;
    border: solid 1px $white;
    border-radius: 2px;
    min-height: auto;
    max-width: 300px;
    color: $white;
}

@mixin input(){

}
