@import "variables";

@mixin card(){
    background: $bg-tertiary;
    border: solid 1px $white;
    border-radius: 2px;
    min-height: auto;
    max-width: 300px;
    color: $white;
}

@mixin card-dashboard(){
    background: $bg-tertiary;
    border: solid 1px $white;
    border-radius: 2px;
    min-height: auto;
    max-width: 400px;
    color: $white;
}
