// Import
@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "homepage";
@import "bouton";
@import "leagues";
@import "draft";
@import "teams_create";
@import "dashboard";

// Font
@font-face {
    font-family: 'Mudhead-Serif';
    src: url("/../storage/fonts/Mudhead-Serif.otf") format('truetype');
}


// Content
body {
    background: $primary;
}

a {
    color: $white;
}

a:hover{
    text-decoration: none;
}

p {
    font-family: $p-font-family-sans-serif;
    text-align: left;
    margin: 0px;
}


@for $i from 1 through 6 {
    h#{$i} {
     font-family: Mudhead-Serif, sans-serif;
    }
}

hr{
    background: $white;
}

label {
    font-family: $p-font-family-sans-serif;
    color: #fff;
}

//Couleur
.bg-primary{
    background: $primary;
}

.tertiary {
    color: $tertiary;
}

.quaternary {
    color: $quaternary;
}

// Card
.MS5card {
    @include MS5card
}

.bg-card{
    background: $bg-card;
    color: $white;
}

.card-dashboard {
    @include card-dashboard
}

// Spacialisation
.pb-reset{
    padding-bottom: 186px;
}

.pb-email{
    padding-bottom: 293px;
}
