// Import
@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "homepage";
@import "bouton";

// Font
@font-face {
    font-family: 'Mudhead-Serif';
    src: url("/../storage/fonts/Mudhead-Serif.otf") format('truetype');
}


// Content
body {
    background: $primary;
}


a:hover{
    text-decoration: none;
}

p {
    font-family: $p-font-family-sans-serif;
    text-align: left;
    margin: 0px;
}


@for $i from 1 through 6 {
    h#{$i} {
     font-family: Mudhead-Serif, sans-serif;
    }
}

//Couleur
.bg-primary{
    background: $primary;
}

.tertiary {
    color: $tertiary;
}

.quaternary {
    color: $quaternary;
}

hr{
    background: $white;
}

// Card
.MS5card {
    @include MS5card
}

// Card-dashboard
.card-dashboard {
    @include card-dashboard
}

// Input
label {
    font-family: $p-font-family-sans-serif;
    color: #fff;
}

// Bannière











//-------------------------------------------------------- LEAGUES --------------------------------------------------//
#card_create_league {
    background: url("/../storage/images/leagues_portal/image_creer_league.jpg");
    background-size: contain;
}

#card_private_league {
    background: url("/../storage/images/leagues_portal/image_league_privee.jpg");
    background-size: contain;
}

#card_public_league {
    background: url("/../storage/images/leagues_portal/image_league_publique.jpg");
    background-size: contain;
}
