@import "variables";
@import "mixins";

// Font
@font-face {
    font-family: 'Mudhead-Serif';
    src: url("/../storage/fonts/Mudhead-Serif.otf") format('truetype');
}

// Content
body {
    background: $primary;
}

p {
    font-family: $p-font-family-sans-serif;
    text-align: left;
    margin: 0px;
}


@for $i from 1 through 6 {
    h#{$i} {
     font-family: Mudhead-Serif, sans-serif;
    }
}

// Bouton
.bouton-inscription {
    background: $secondary;
    border: solid 1px transparent;
    border-radius: 5px;
    color: #fff;
    padding: 10px 35px;

    &:hover {
        background: lighten($secondary, 5);
        font-weight: bold;
    }
}

.bouton-connexion {
    background: transparent;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;

    &:hover {
        background: $white;
        color: #000;
        font-weight: bold;
    }
}

// Card
.card {
    @include card
}

// Card-dashboard
.card-dashboard {
    @include card-dashboard
}

// Input
label {
    font-family: $p-font-family-sans-serif;
    color: #fff;
}

// Bannière
.banner {
    background: url(/../storage/images/Fond_header.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.icon{
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.tertiary {
    color: $tertiary;
}

.bg-crown{
    background: url("/../storage/images/logo_hall_of_fame.png") no-repeat;
    background-size: cover;
}



























/***** SCSS JEREMY **********/

.banner-league-publique{
    background: url(/../storage/images/league_publique.jpg) no-repeat;
    background-size: 100% auto;
    height: 45vh;
}

.banner-match-result{
    background: url(/../storage/images/match_result.png) no-repeat;
    background-size: 100% auto;
    height: 45vh;
}

.banner-next-match{
    background: url(/../storage/images/next_match.png) no-repeat;
    background-size: 100% auto;
    height: 45vh;
}
