body, html {
    height: 100%;
}
/***********************************************Première section du tuto***********************************************/
#first-banner {
    /* L'image utilsiée */
    background-image: url(/../storage/images/Fond_header.jpg);

    /* Hauteur max */
    height: 100vh;

    /* Création de l'effet de parallax lors du scrolling */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Désactive les effets de parallax pour les supports mobiles */
@media only screen and (max-device-width: 1366px) {
    #first-banner {
        background-attachment: scroll;
    }
}

#first-step{
    background-image: url(/../storage/images/tuto/portail_leagues_tuto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/***********************************************Deuxième section du tuto***********************************************/
#second-step{
    background-image: url(/../storage/images/tuto/team_create.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
