body {
  background: #2b2236;
}

p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: Mudhead-Serif;
  src: url("/public/storage/fonts/Mudhead_Serif/Mudhead-Serif.otf"), sans-serif;
}

h2 {
  font-family: Mudhead-Serif;
  src: url("/public/storage/fonts/Mudhead_Serif/Mudhead-Serif.otf"), sans-serif;
}

h3 {
  font-family: Mudhead-Serif;
  src: url("/public/storage/fonts/Mudhead_Serif/Mudhead-Serif.otf"), sans-serif;
}

h4 {
  font-family: Mudhead-Serif;
  src: url("/public/storage/fonts/Mudhead_Serif/Mudhead-Serif.otf"), sans-serif;
}

h5 {
  font-family: Mudhead-Serif;
  src: url("/public/storage/fonts/Mudhead_Serif/Mudhead-Serif.otf"), sans-serif;
}

h6 {
  font-family: Mudhead-Serif;
  src: url("/public/storage/fonts/Mudhead_Serif/Mudhead-Serif.otf"), sans-serif;
}

.bouton-inscription {
  background: #7c38bf;
  border: solid 1px transparent;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
}

.bouton-inscription:hover {
  background: #492170;
}

.bouton-connexion {
  background: transparent;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
}

.bouton-connexion:hover {
  background: transparent;
  opacity: 0.5;
}

.card {
  background: #7c38bf;
  border: solid 1px transparent;
  min-height: auto;
  max-width: 300px;
  color: #ff8500;
}

