@charset "UTF-8";

.logo-header {
  max-height: 25%;
  max-width: 25%;
}

footer {
  background: #6541df;
}

.logo-footer {
  max-height: 75%;
  max-width: 75%;
}

.pb-connexion {
  padding-bottom: 7.7rem;
}

.banner {
  background: url(/../storage/images/Fond_header.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.icon {
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.bg-crown {
  background: url("/../storage/images/logo_hall_of_fame.png") center no-repeat;
}

.bg-jersey {
  background: url("/../storage/images/Fond_tutos.jpg");
  background-size: cover;
  height: 100%;
}

.tutoimg {
  height: 758px;
}

.imageHOF {
  border-radius: 50px;
}

.twitter-homepage {
  height: 200px;
  width: 200px;
}

.bouton-inscription {
  background: #6541df;
  border: solid 1px transparent;
  border-radius: 5px;
  color: #fff;
  padding: 10px 35px;
  font-weight: bold;
}

.bouton-inscription:hover {
  background: #7757e3;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.bouton-connexion {
  background: transparent;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 35px;
  color: #fff;
  font-weight: bold;
}

.bouton-connexion:hover {
  background: #fff;
  color: #000;
  font-weight: bold;
}

.bouton-header {
  background: transparent;
  border-top: solid 1px #ff8500;
  padding: 10px 35px;
  color: #fff;
  font-weight: bold;
}

.bouton-header:hover {
  background: transparent;
  border-top: solid 1px #ff8500;
  color: #fff;
  font-weight: bold;
  box-shadow: inset 0 0.4em 0.5em #ff8500;
}

#card_create_league {
  background: url("/../storage/images/leagues_portal/image_creer_league.jpg");
  background-size: contain;
}

#card_private_league {
  background: url("/../storage/images/leagues_portal/image_league_privee.jpg");
  background-size: contain;
}

#card_public_league {
  background: url("/../storage/images/leagues_portal/image_league_publique.jpg");
  background-size: contain;
}

.bg-card-title {
  background: #504065;
}

#draft-container #nb-players {
  font-size: 2rem !important;
}

#draft-container .table-dark {
  background-color: #3a2e49 !important;
}

#draft-container .table-dark thead th {
  border: none !important;
}

#draft-container .table-dark th {
  border-top: none !important;
}

#draft-container .table-dark td {
  border-top: none !important;
}

#draft-container #auctionValue {
  max-width: 70px !important;
}

#draft-container .MS5card {
  border-color: rgba(255, 255, 255, 0.1);
}

#draft-container .btn-quaternary {
  background-color: #c25211;
  color: white;
}

#draft-container .btn-quaternary:hover {
  background-color: #eb671b;
}

#draft-container .auction-price {
  font-size: 1.2rem;
}

html {
  height: 100%;
}

.countdown {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EEE;
}

.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;
}

.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
  box-sizing: border-box;
}

.flip-clock__piece {
  display: inline-block;
  margin: 0 5px;
}

.flip-clock__slot {
  font-size: 30px;
}

.cardcountdown {
  display: block;
  position: relative;
  padding-bottom: 0.72em;
  font-size: 50px;
  line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: 0.72em;
  color: #ccc;
  background: #222;
  padding: 0.25em 0.25em;
  border-radius: 0.15em 0.15em 0 0;
  backface-visiblity: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}

.card__bottom {
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: #393939;
  border-radius: 0 0 0.15em 0.15em;
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -0.72em;
}

.card__back::before,
.card__bottom::after {
  content: attr(data-value);
}

.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  -webkit-animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
          animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
          animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@-webkit-keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }

  0%, 99% {
    opacity: 0.99;
  }

  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }

  0%, 99% {
    opacity: 0.99;
  }

  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@-webkit-keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }

  51% {
    opacity: 0.99;
  }

  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}

@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }

  51% {
    opacity: 0.99;
  }

  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}

.bg-countdown {
  background: url("/../storage/images/bg-countdown.jpg") center no-repeat;
  width: 100%;
  background-size: cover;
}

.bg-team {
  background: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
}

.radius25 {
  border-radius: 25px;
}

.bg-card-title {
  background: #504065;
}

#next-game-coaching #nb-players {
  font-size: 2rem !important;
}

#next-game-coaching .table-dark {
  background-color: #3a2e49 !important;
}

#next-game-coaching .table-dark thead th {
  border: none !important;
}

#next-game-coaching .table-dark th {
  border-top: none !important;
}

#next-game-coaching .table-dark td {
  border-top: none !important;
}

#next-game-coaching #auctionValue {
  max-width: 70px !important;
}

#next-game-coaching .MS5card {
  border-color: rgba(255, 255, 255, 0.1);
}

#next-game-coaching .btn-quaternary {
  background-color: #c25211;
  color: white;
}

#next-game-coaching .btn-quaternary:hover {
  background-color: #eb671b;
}

body,
html {
  height: 100%;
}

/***********************************************Première section du tuto***********************************************/

#first-banner {
  /* L'image utilsiée */
  background-image: url(/../storage/images/Fond_header.jpg);
  /* Hauteur max */
  height: 100%;
  /* Création de l'effet de parallax lors du scrolling */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Désactive les effets de parallax pour les supports mobiles */

@media only screen and (max-device-width: 1366px) {
  #first-banner {
    background-attachment: scroll;
  }
}

#first-step {
  background-image: url(/../storage/images/tuto/portail_leagues_tuto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/***********************************************Deuxième section du tuto***********************************************/

#second-step {
  background-image: url(/../storage/images/tuto/team_create.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/***********************************************Troisième section du tuto***********************************************/

#second-banner {
  /* L'image utilisée */
  background-image: url(/../storage/images/Fond_tutos.jpg);
  /* Hauteur max */
  height: 100vh;
  /* Création de l'effet de parallax lors du scrolling */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Désactive les effets de parallax pour les supports mobiles */

@media only screen and (max-device-width: 1366px) {
  #second-banner {
    background-attachment: scroll;
  }
}

#third-step {
  background-image: url(/../storage/images/tuto/draft.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@font-face {
  font-family: "Mudhead-Serif";
  src: url("/../storage/fonts/Mudhead-Serif.otf") format("truetype");
}

body {
  background: #2b2236;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #000;
}

p {
  font-family: Poppins, Arial, sans-serif;
  text-align: left;
  margin: 0px;
}

h1 {
  font-family: Mudhead-Serif, sans-serif;
  color: #eb671b;
}

h2 {
  font-family: Mudhead-Serif, sans-serif;
  color: #eb671b;
}

h3 {
  font-family: Mudhead-Serif, sans-serif;
  color: #eb671b;
}

h4 {
  font-family: Mudhead-Serif, sans-serif;
  color: #eb671b;
}

h5 {
  font-family: Mudhead-Serif, sans-serif;
  color: #eb671b;
}

h6 {
  font-family: Mudhead-Serif, sans-serif;
  color: #eb671b;
}

hr {
  background: #fff;
}

label {
  font-family: Poppins, Arial, sans-serif;
  color: #fff;
}

.bg-primary {
  background: #2b2236;
}

.tertiary {
  color: #ff8500;
}

.quaternary {
  color: #eb671b;
}

.MS5card {
  background: #3a2e49;
  border: solid 1px #fff;
  color: #fff;
}

.bg-card {
  background: #3a2e49;
  color: #fff;
}

.card-dashboard {
  background: #3a2e49;
  border: solid 1px #fff;
  border-radius: 2px;
  min-height: auto;
  max-width: 400px;
  color: #fff;
}

.pb-reset {
  padding-bottom: 186px;
}

.pb-email {
  padding-bottom: 293px;
}

